<footer class="bg-main-light py-4">
  <div class="container">
    <div class="caption">
      <h5>Get The FreshCart App</h5>
      <p class="text-secondary">We Will Send You a Link</p>
    </div>
    <div class="form-item d-flex gap-3">
      <input
        type="email"
        title="userEmail"
        class="form-control w-75"
        placeholder="Email"
      />
      <button class="main-btn rounded-pill px-3 flex-shrink-0">
        Get App Link
      </button>
    </div>
    <hr class="border-secondary mb-2 mb-sm-0" />
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6">
        <div
          class="app-stores d-flex justify-content-center align-items-center gap-2"
        >
          <img
            height="90"
            src="./assets/images/app-store-apple-logo.svg"
            role="button"
            alt=""
          />
          <img
            height="90"
            src="./assets/images/google-play-badge.svg"
            role="button"
            alt=""
          />
        </div>
      </div>
      <div class="col-sm-6">
        <ul
          class="social-media d-flex list-unstyled gap-3 mb-0 justify-content-center"
        >
          <li>
            <i class="fa-brands fa-facebook" role="button" title="facebook"></i>
          </li>
          <li>
            <i
              class="fa-brands fa-instagram"
              role="button"
              title="instagram"
            ></i>
          </li>
          <li>
            <i class="fa-brands fa-whatsapp" role="button" title="whatsapp"></i>
          </li>
          <li>
            <i class="fa-brands fa-telegram" role="button" title="telegram"></i>
          </li>
        </ul>
      </div>
    </div>

    <hr class="border-secondary mt-5 mt-sm-0" />
    <div class="copyrights">
      <h6 class="text-center text-muted small mb-0">
        © 2024 <span class="main-color">Ahmed Ashraf</span> , All Rights
        Reserved.
      </h6>
    </div>
  </div>
</footer>
