<form
  #forgotPassForm
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="handleForm(forgotPassForm, codeForm)"
  class="rounded-2 shadow-sm w-75 mx-auto bg-main-light p-5"
>
  <div class="form-item mb-2">
    <div class="form-floating">
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="enter your email"
        class="form-control"
        [class]="
          forgotPasswordForm.get('email')?.errors &&
          (forgotPasswordForm.get('email')?.touched ||
            forgotPasswordForm.get('email')?.value.length > 0)
            ? 'is-invalid'
            : ''
        "
      />
      <label for="email">Email:</label>
    </div>
    <div
      class="text-invalid"
      *ngIf="
        forgotPasswordForm.get('email')?.errors &&
        (forgotPasswordForm.get('email')?.touched ||
          forgotPasswordForm.get('email')?.value.length > 0)
      "
    >
      <p *ngIf="forgotPasswordForm.get('email')?.getError('required')">
        Please enter your email.
      </p>
      <p *ngIf="forgotPasswordForm.get('email')?.getError('email')">
        Email must be valid!
      </p>
    </div>
  </div>
  <button
    class="main-btn rounded-pill px-3 py-2 mt-2"
    type="submit"
    [disabled]="forgotPasswordForm.invalid"
  >
    Next <i class="fa-solid fa-circle-notch fa-spin" *ngIf="isLoading"></i>
  </button>
  <p *ngIf="errMsg" class="text-invalid mx-auto content-fit mt-3">
    {{ errMsg }}
  </p>
</form>

<form
  #codeForm
  [formGroup]="resetCodeForm"
  (ngSubmit)="handleResetForm(codeForm, newPassForm, emailInput)"
  class="rounded-2 shadow-sm w-75 mx-auto bg-main-light p-5 d-none"
>
  <div class="form-item mb-2">
    <div class="form-floating">
      <input
        type="text"
        id="resetCode"
        formControlName="resetCode"
        placeholder="enter your code"
        class="form-control"
        [class]="
          resetCodeForm.get('resetCode')?.errors &&
          (resetCodeForm.get('resetCode')?.touched ||
            resetCodeForm.get('resetCode')?.value.length > 0)
            ? 'is-invalid'
            : ''
        "
      />
      <label for="resetCode" class="mb-1">Reset Code:</label>
    </div>
    <div
      class="text-invalid"
      *ngIf="
        resetCodeForm.get('resetCode')?.errors &&
        (resetCodeForm.get('resetCode')?.touched ||
          resetCodeForm.get('resetCode')?.value.length > 0)
      "
    >
      <p *ngIf="resetCodeForm.get('resetCode')?.getError('required')">
        Code is required.
      </p>
      <p
        *ngIf="
          resetCodeForm.get('resetCode')?.getError('minLength', 'maxLength')
        "
      >
        Code must be valid!
      </p>
    </div>
  </div>
  <button
    class="main-btn rounded-pill px-3 py-2 mt-2"
    type="submit"
    [disabled]="resetCodeForm.invalid"
  >
    Confirm
    <i class="fa-solid fa-circle-notch fa-spin" *ngIf="isLoading"></i>
  </button>
  <p *ngIf="errMsg" class="text-invalid mx-auto content-fit mt-3">
    {{ errMsg }}
  </p>
</form>

<form
  #newPassForm
  [formGroup]="resetPasswordForm"
  (ngSubmit)="handleNewPasswordForm()"
  class="rounded-2 shadow-sm w-75 mx-auto bg-main-light p-5 d-none"
>
  <div class="form-item mb-3">
    <div class="form-floating">
      <input
        #emailInput
        type="email"
        id="email2"
        formControlName="email"
        placeholder="email"
        class="form-control mb-2"
        [value]="userEmail"
      />
      <label for="email2">Email:</label>
    </div>
  </div>
  <div class="form-item mb-3">
    <div class="form-floating">
      <input
        type="password"
        id="newPassword"
        formControlName="newPassword"
        placeholder="enter your new password"
        class="form-control"
        [class]="
          resetPasswordForm.get('newPassword')?.errors &&
          (resetPasswordForm.get('newPassword')?.touched ||
            resetPasswordForm.get('newPassword')?.value.length > 0)
            ? 'is-invalid'
            : ''
        "
      />
      <label for="newPassword">New password:</label>
    </div>
    <div
      class="text-invalid"
      *ngIf="
        resetPasswordForm.get('newPassword')?.errors &&
        (resetPasswordForm.get('newPassword')?.touched ||
          resetPasswordForm.get('newPassword')?.value.length > 0)
      "
    >
      <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">
        Please enter your new password.
      </p>
      <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">
        Password must be 6 charcters at least!
      </p>
    </div>
  </div>
  <button
    class="main-btn rounded-pill px-3 py-2 mt-2"
    type="submit"
    [disabled]="resetPasswordForm.invalid"
  >
    Change password
    <i class="fa-solid fa-circle-notch fa-spin" *ngIf="isLoading"></i>
  </button>
  <p *ngIf="errMsg" class="text-invalid mx-auto content-fit mt-3">
    {{ errMsg }}
  </p>
</form>
