<section class="pt-5">
  <div class="secTitle mb-3">
    <h3 class="text-center">Checkout <span class="main-color">Now</span></h3>
  </div>
  <form
    [formGroup]="checkOutForm"
    (ngSubmit)="submitForm()"
    class="w-75 mx-auto bg-main-light p-5 rounded-2 shadow-sm"
  >
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="details"
        formControlName="details"
        placeholder="details"
      />
      <label for="details">Details:</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="tel"
        class="form-control"
        id="phone"
        formControlName="phone"
        placeholder="phone"
      />
      <label for="phone">Phone:</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="city"
        formControlName="city"
        placeholder="city"
      />
      <label for="city">City:</label>
    </div>
    <button type="submit" class="main-btn rounded-pill px-3">
      Check out
      <i *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
    </button>
  </form>
</section>
