<section class="pt-5 px-2">
    <div class="row align-items-center g-5 px-0 px-md-5">
      <div class="col-md-4 img-thumbnail">
        <owl-carousel-o [options]="productsSliderOptions">
          <ng-container *ngFor="let imgPath of productDetails.images">
            <ng-template carouselSlide>
              <img class="w-100" [src]="imgPath" alt="" />
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <div class="col-md-8">
        <h2 class="h4 fw-bold mb-3">{{ productDetails?.title }}</h2>
        <h3 class="h6">
          <span class="main-color fw-bold">Description:</span>
          {{ productDetails?.description }}
        </h3>
        <h4 class="h6">
          <span class="main-color fw-bold">Brand:</span>
          {{ productDetails?.brand?.name }}
        </h4>
        <h4 class="h6">
          <span class="main-color fw-bold">Category:</span>
          {{ productDetails?.category?.name }}
        </h4>
        <div class="d-flex h6 pt-2 justify-content-between align-items-center">
          <span class="">{{ productDetails.price | currency : "EGP " }}</span>
          <div class="rating">
            <i class="fa-solid fa-star rating-color"></i>
            <span> {{ productDetails.ratingsAverage }}</span>
          </div>
        </div>
        <button
          (click)="addProduct(productDetails._id)"
          class="main-btn small card-btn w-100 my-3"
        >
          <i class="fa-solid fa-plus"></i> Add to cart
        </button>
      </div>
    </div>
  </section>
  