$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;

.brand{
    border: 1px solid #07ff07;
    padding: 4px;
    border-radius: 4px;
    box-shadow: $shadow;
    transition: 0.2s;
    cursor: pointer;
}