/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

$main-color: #0aad0a;
$light-color: #f8f9fa;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$main-transition: 0.4s;

::selection {
  background-color: $main-color;
  color: #fff;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: $light-color;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
  background: -webkit-linear-gradient(to bottom, #0aad0a 0%, #ffc908 100%);
  background: -moz-linear-gradient(to bottom, #0aad0a 0%, #ffc908 100%);
  background: linear-gradient(to bottom, #0aad0a 0%, #ffc908 100%);
  border-radius: 100vh;
}

body {
  font-family: $font-family;
  letter-spacing: 0.8px;
  background-image: url(./assets/images/light-patten.svg);
}

.navbar {
  box-shadow: 0px -8px 10px 2px;

  .nav-link:hover,
  .nav-link:focus {
    color: #26d326;
  }
}

footer {
  box-shadow: 0px 8px 8px 2px;
}

.main-color {
  color: $main-color;
}

.rating-color {
  color: $rating-color;
}

.font-sm {
  font-size: 12px;
}

.bg-main {
  background-color: $main-color !important;
}

.bg-main-light {
  background-color: $light-color !important;
}

.content-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.text-width {
  max-width: 300px;
}

.active-link {
  background-color: $main-color;
  color: #fff !important;
  border-radius: 5px;
  padding-left: 5px;
}

.active-icon {
  color: #26d326 !important;
}

.text-invalid {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
  font-weight: bold;
}

.form-control {
  &:focus {
    border-color: $main-color;
    box-shadow: 0 0 0 0.25rem rgba(10, 173, 10, 0.25);
  }
}

.main-btn {
  border: unset;
  cursor: pointer;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: $main-color;
  padding: 4px 8px;
  transition: background-color $main-transition ease-in-out;
  border-radius: 5px;

  &:hover {
    background-color: #26d326;
  }

  &:disabled {
    background-color: #067a0663;
    color: #ffffff8e;
    cursor: not-allowed;
  }
}

.card {
  position: relative;
  min-height: 460px;
  overflow: hidden;
  cursor: pointer;
  transition: border-color $main-transition linear,
    transform $main-transition ease-in-out, box-shadow $main-transition linear;

  .card-btn {
    position: relative;
    top: 90px;
    transition: top $main-transition ease-in-out,
      background-color $main-transition ease-in-out;
  }

  &:hover {
    border-color: $main-color;
    box-shadow: 2px 2px 18px -8px rgb(57 129 57 / 29%);
    transform: scale(1.03);
    .card-btn {
      top: 0px;
    }
  }

  .addWish-btn {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.625rem;
  }

  .removeWish-btn {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.625rem;
  }
}

.main-border {
  border: $main-color solid 1px;
  border-radius: 5px;
  transition: border-color $main-transition linear;

  &:hover {
    border-color: #26d326;
  }
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #26d326;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: $main-color !important;
  border-radius: 10px;
  color: #fefefe;
  cursor: default;
}

.ngx-pagination a,
.ngx-pagination button {
  text-decoration: none;
}

.goUpBtn {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;

  i {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 13px;
  }

  .card:hover {
    transform: none;
  }
}
